{% load static %}

<head>
    <title>Login</title>
    <link rel="stylesheet"  href="{% static 'css/page.scss' %}">
</head>

<body>
<div class="appName">
    <h1>Application {{ app }} asks you for permissions</h1>
</div>

<div container="content" class="form-4">


    <form id="info" class="form-1" action="javascript:void(0);" onsubmit="event.preventDefault()">
        {% csrf_token %}

        {% if not is_logged_in %}
        <div class="form__group field">
            <input name="name" class="form__group field" type="text" placeholder="Name" autocomplete="off"/>
            <label for="name" class="form__label">Name</label>
        </div>
        <div class="form__group field">
            <input name="password" class="form__group field" type="password" placeholder="Password"/>
            <label for="name" class="form__label">Password</label>


            <small>Do not have an account? <input type="submit" onclick="register()" value="Register"></small>       
         </div>
        {% endif %}

        <div id="permissions">
            <ul>
                {% for permission in scope %}
                    <li>{{ permission }}</li>
                {% endfor %}
            </ul>
            <div class="buttons-container">
                <input type="submit" onclick="onFormSubmit(event, true)" value="Accept">
                <input type="submit" onclick="onFormSubmit(event, false)" value="Deny">
            </div>
        </div>

    </form>

</div>

</body>
<script>    
    function sendData(data) {
        const XHR = new XMLHttpRequest();
        XHR.open( "POST", "login" );
        XHR.send(JSON.stringify(data));
        XHR.onreadystatechange = function() {
            if(this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                const response = JSON.parse(this.response)
                window.location.replace(response.callback_url)
            }
            else if(this.response === "Bad username or password"){
                alert(this.response)
            }
        }
    }

    function register(){
        window.location.replace(window.location.href.replace('login', 'register'))
    }

    function onUserData(e) {
        e.preventDefault();
        var permissions_block = document.getElementById("permissions");
        permissions.style.display = "block"
    }

    function onFormSubmit(e, isAccepted) {
        e.preventDefault();
        const userInfo = document.getElementById("info");
        const data = Object.fromEntries(new FormData(userInfo).entries());
        data.is_accepted = isAccepted;
        data.client_id = "{{clientId}}"
        sendData(data);
    }
</script>
