{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/page.scss' %}">
    <title>Create account</title>
</head>

<body>
<div class="appName">
    <h1>Creating an account</h1>
</div>
<div container="content" class="form-4">


    <form id="info" onsubmit="event.preventDefault()">
        {% csrf_token %}
        <div class="allFields">
            {% for required_field in required_fields %}
                <div class="form__group field">
                    {% if required_field == "password" %}
                        <input id="{{ required_field }}" name="{{ required_field }}" placeholder="{{ required_field }}"
                               type="password"
                               autocomplete="off"/>

                    {% else %}
                        <input id="{{ required_field }}" type="text" name="{{ required_field }}"
                               placeholder="{{ required_field }}"
                               autocomplete="off"/>
                    {% endif %}
                    <label for="name" class="form__label">{{ required_field }}</label>
                </div>
            {% endfor %}
        </div>
        <div class="buttons-container">
            <input type="submit" onclick="onFormSubmit(event);event.preventDefault();" value="Create account"/>
            <input type="submit" onclick="returnToLoginPage()" value="Return to login page"/>
        </div>
    </form>
</div>

</body>
<script>
    function sendData(data) {
        const XHR = new XMLHttpRequest();
        XHR.open("POST", "register");
        XHR.send(JSON.stringify(data));
        XHR.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                const response = JSON.parse(this.response)
                alert('Account successfully created')
                returnToLoginPage();
            }
            else if (this.status === 409) {
                alert('User already exists')
            }
        }
    }

    function returnToLoginPage() {
        window.location.replace(window.location.href.replace('register', 'login'));
    }

    function validate(data) {
        let isOk = true;
        if (!data['name'].match(/^[a-zA-Z]+$/ || data['name'].length === 0)) {
            isOk = false;
            document.getElementById('name').className = 'error';
        } else {
            document.getElementById('name').className = '';
        }
        if (data['password'].length < 1) {
            isOk = false;
            document.getElementById('password').className = 'error';
        } else {
            document.getElementById('password').className = '';
        }
        return isOk;
    }

    function onFormSubmit(e) {
        e.preventDefault();
        const userInfo = document.getElementById("info");
        const data = Object.fromEntries(new FormData(userInfo).entries());
        if (validate(data)) {
            Object.keys(data).forEach(key => data[key] = data[key].trim());
            sendData(data);
        }
    }
</script>
